In [117]:
import pandas as pd
import numpy as np
import statistics as stats
import seaborn as sns
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [118]:
df = pd.read_csv('fifa21_train.csv')

In [119]:
def preprocess(df):    
    #standardize columns
    cols = []
    for column in df.columns:
        cols.append(column.lower())
    df.columns = cols
    df.columns = df.columns.str.replace(' ','_')
    df.columns = df.columns.str.replace('/','_')
    df.columns = df.columns.str.replace('&','and')
    na_cols = df.columns[df.isna().any()]
    for col in na_cols:
        if df[col].dtypes == 'float64' or df[col].dtypes == 'int64':
            df[col].fillna(round(np.mean(df[col]), 0), inplace=True)
    for col in na_cols:
        if df[col].dtypes == 'object':
            df[col].fillna('unknown', inplace=True)    
    #check rows for duplicates    
    df_copy = df.copy()
    df_copy = df_copy.drop_duplicates()
    print(df_copy.shape)
    print(df.shape)   
    #change 'joined' to type datetime
    df['joined'] = pd.to_datetime(df['joined'], errors='coerce')
    df['joined'].fillna(stats.mode(df['joined']), inplace=True)
    df.drop(['loan_date_end'], axis=1, inplace=True)    
    #clean the money-columns
    df['value_KoM'] = df['value']
    df['value_KoM'] = df['value'].astype(str).str[-1]
    df['value_KoM'] = df['value_KoM'].str.replace('0','1')
    df['value_KoM'] = df['value_KoM'].str.replace('M','1000000')
    df['value_KoM'] = df['value_KoM'].str.replace('K','1000')
    df['value_KoM'] = pd.to_numeric(df['value_KoM'])
    df['value'] = df['value'].str.replace('€','')
    df['value'] = df['value'].str.replace('M','')
    df['value'] = df['value'].str.replace('K','')
    df['value'] = pd.to_numeric(df['value'])
    df['value'] = round(df['value'] * df['value_KoM'],2)
    df['release_clause_KoM'] = df['release_clause'].astype(str).str[-1]
    df['release_clause_KoM'] = df['release_clause_KoM'].str.replace('0','1')
    df['release_clause_KoM'] = df['release_clause_KoM'].str.replace('M','1000000')
    df['release_clause_KoM'] = df['release_clause_KoM'].str.replace('K','1000')
    df['release_clause_KoM'] = pd.to_numeric(df['release_clause_KoM'])
    df['release_clause'] = df['release_clause'].str.replace('€','')
    df['release_clause'] = df['release_clause'].str.replace('M','')
    df['release_clause'] = df['release_clause'].str.replace('K','')
    df['release_clause'] = pd.to_numeric(df['release_clause'])
    df['release_clause'] = round(df['release_clause'] * df['release_clause_KoM'],2)
    df['wage_KoM'] = df['wage'].astype(str).str[-1]
    df['wage_KoM'] = df['wage_KoM'].str.replace('0','1')
    df['wage_KoM'] = df['wage_KoM'].str.replace('M','1000000')
    df['wage_KoM'] = df['wage_KoM'].str.replace('K','1000')
    df['wage_KoM'] = pd.to_numeric(df['wage_KoM'])
    df['wage'] = df['wage'].str.replace('€','')
    df['wage'] = df['wage'].str.replace('M','')
    df['wage'] = df['wage'].str.replace('K','')
    df['wage'] = pd.to_numeric(df['wage'])
    df['wage'] = round(df['wage'] * df['wage_KoM'],2)
    df.drop(['value_KoM','release_clause_KoM', 'wage_KoM' ], axis=1, inplace=True)
    #clean height
    heightlist = []
    for row in df['height']:
        row = row.replace('"', '')
        split = row.split("'")
        height = int(split[0]) * 30.48 + int(split[1]) * 2.54
        heightlist.append(height)
    df['height'] = heightlist
    df['height'] = df['height'].astype(int)
    #clean weight
    df['weight'] = df['weight'].str.replace('lbs','')
    df['weight'] = pd.to_numeric(df['weight'])
    df['weight'] = round(df['weight'] * 0.453592,2)
    df['weight'] = df['weight'].astype(int)
    # remove the + and create a new column for the value behind the +
    for col in ['st', 'lw','cf', 'cam', 'lm', 'cm', 'lwb', 'cdm', 'lb', 'cb', 'gk']:
        colvalue = []
        coladdvalue = []
        for row in df[col]:
            split = row.split("+")
            colvalue.append(split[0])
            coladdvalue.append(split[1])
        df[col] = colvalue
        df[col + 'add'] = coladdvalue
        df[col] = df[col].astype(int)
        df[col + 'add'] = df[col + 'add'].astype(int)     
        df['st'] = df['st'].astype(int)       
    #kick out stars
    df['w_f'] =  df['w_f'].str.replace('★','')
    df['sm'] =  df['sm'].str.replace('★','')
    df['ir'] =  df['ir'].str.replace('★','')
    df['w_f'] = df['w_f'].astype(int)
    df['sm'] = df['sm'].astype(int)
    df['ir'] = df['ir'].astype(int)
    #clean contract years
    contract_to = []
    for row in df['contract']:
        split = row.split(" ~ ")
        if len(split) == 2:
            contract_to.append(split[1])
        else:
            contract_to.append('0')
    df['contract_to'] = contract_to
    df['contract_to'] = df['contract_to'].astype(int)
    df.drop(['team_and_contract'], axis=1, inplace=True)
    #reorder columns
    df = df[['name', 'age', 'nationality', 'club', 'bp', 'position', 'height',
       'weight', 'foot', 'growth', 'joined', 'value', 'wage', 'release_clause',
       'contract', 'contract_to', 'attacking', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'skill', 'dribbling', 'curve',
       'fk_accuracy', 'long_passing', 'ball_control', 'movement',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'power', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standing_tackle',
       'sliding_tackle', 'goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'total_stats',
       'base_stats', 'w_f', 'sm', 'a_w', 'd_w', 'ir', 'pac', 'sho', 'pas',
       'dri', 'def', 'phy', 'hits', 'st','stadd',  'lw','lwadd', 'cf','cfadd', 'cam','camadd', 'lm', 'lmadd', 'cm', 'lwb','lwbadd',
       'cmadd','cdm','cdmadd', 'lb', 'lbadd','cb','cbadd', 'gk', 'gkadd', 'ova'
       ]]

    return df

In [120]:
preprocess(df)

(11701, 101)
(11701, 101)

,name,age,nationality,club,bp,position,height,weight,foot,growth,...,cmadd,cdm,cdmadd,lb,lbadd,cb,cbadd,gk,gkadd,ova
0,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,175,73,Right,1,...,1,59,1,58,1,54,1,15,1,64
1,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,182,72,Right,0,...,2,53,2,53,2,48,2,18,2,77
2,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,162,60,Right,0,...,2,56,2,53,2,41,2,12,2,80
3,J. Evans,22,Wales,Swansea City,CDM,CDM CM,177,68,Right,13,...,2,58,2,57,2,58,2,14,2,59
4,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,180,68,Right,8,...,2,64,2,63,2,61,2,15,2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,185,76,Left,5,...,2,60,2,63,2,61,2,16,2,65
11697,G. Gallon,27,France,ESTAC Troyes,GK,GK,185,78,Right,4,...,2,26,2,24,2,26,2,69,2,70
11698,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,167,64,Right,8,...,2,44,2,45,2,35,2,17,2,67
11699,Anderson Silva,26,Brazil,Barnsley,CM,unknown,187,81,Right,7,...,0,68,0,64,0,60,0,25,0,68
11700,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,170,64,Left,9,...,2,43,2,44,2,36,2,15,2,64

In [121]:
df

,id,name,age,nationality,club,bp,position,height,weight,foot,...,cfadd,camadd,lmadd,cmadd,lwbadd,cdmadd,lbadd,cbadd,gkadd,contract_to
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,175,73,Right,...,0,1,1,1,1,1,1,1,1,2020
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,182,72,Right,...,0,1,1,2,2,2,2,2,2,0
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,162,60,Right,...,0,0,1,2,2,2,2,2,2,2022
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,177,68,Right,...,0,2,2,2,2,2,2,2,2,2021
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,180,68,Right,...,0,2,2,2,2,2,2,2,2,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,185,76,Left,...,0,2,2,2,2,2,2,2,2,2021
11697,214680,G. Gallon,27,France,ESTAC Troyes,GK,GK,185,78,Right,...,0,2,2,2,2,2,2,2,2,2022
11698,221489,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,167,64,Right,...,0,2,2,2,2,2,2,2,2,2024
11699,146717,Anderson Silva,26,Brazil,Barnsley,CM,unknown,187,81,Right,...,0,0,0,0,0,0,0,0,0,0
11700,236507,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,170,64,Left,...,0,2,2,2,2,2,2,2,2,2020

In [122]:
df.to_csv('fifa_cleaned.csv')